*{
    margin: 0;
    padding: 0;
}

/*overall of all page*/
body{
    background: #F7F9FB;
}
.overall{
    width: 100%;
    height: auto;
    /*background: #F7F9FB;*/
    padding-left: 230px;
    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 50px;
}
@media(max-width: 992px){
    .overall{
        padding-left: 50px;
        padding-right: 50px;
    }
}
/*Main body page starts here*/
.bodybar{
    padding: 50px;
}


.insider{
    width: 100%;
    height: auto;
    padding-left: 230px;
    padding-top: 50px;
    padding-right: 20px;
}
@media(max-width: 992px){
    .insider{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*product page*/
.product-page{
    width: 100%;
    height: auto;
    /*background: #f2f2f2;*/
}
.product-header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f1f1f1;
    position: static;
}

.card {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    padding: 5px;
    height: 450px;
    overflow-y: auto;
    scrollbar-height:auto;
    -ms-overflow-style: none;
}
.card::-webkit-scrollbar{
    display: none;
}
.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-radius: .25rem .25rem 0 0;
}
.table-mobile{
    display: none;
}
@media(max-width: 992px){
    .table-desktop{
        display: none;
    }
    .table-mobile{
        display: block;
    }
    .mobile-td{
        display: flex;
        flex-direction: column;
        gap:5px;
    }
    .mobile-td a{
        font-size: 11px;
    }
}




/*Mobile View (mobileview.php)*/
.mobview{
    width: 100%;
    /*height: 100vh;*/
    background: #ffffff;
    /*border:1px solid #ddd;*/
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 5px;
    display: none;
}
@media(max-width: 992px){
    .mobview{
        display: block;
    }
}
.mob-header{
    width: 100%; 
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #888;
    position: static;
    padding: 2px;
    background: #f2f2f2;
    align-items: center;
}
.mob-header h5{
    font-size: 17px;
}
.mobview-body{
    width: 100%;
    height: 70vh;
    overflow-y: auto;
    scrollbar-height:none;
    -ms-overflow-style:none;
}
.mobview-body::-webkit-scrollbar{
    display: none;
}
.prod-image-back{
    width: 100%;
    height: 350px;
    background: #f2f2f2;
}
.prod-image-back img{
    width: 100%;
    height: 100%;
}
.prod-image-details{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 1px solid #ddd;

}
.single-detail-mob{
    display: flex;
    padding-top: 30px;
    gap:10px;
    /*background: #f2f2f2;*/
    padding-bottom: 20px;
}
.title-det{
    width: 30%;
}
.single-detail-mob label{
    font-size: 18px;
    font-weight: bold;
}
.value-box{
    width: 100%;
    border-bottom: 2px solid #5D2CEA;
    /*padding-left: 20px; */
}
.value-box label{
    font-weight: normal;
    font-size: 18px;

}

/*The category page (category.php)*/
.cat-page{
    width: 100%;
    height: auto;
    background: #fff;
}
.cat-page-header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #d5d5d5;
}


/*Start the toggle button*/
 .switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 20px;
    margin-left: 10px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* Slider design */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 26px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }

  /* Checked state */
  .switch input:checked + .slider {
    background-color: #393BEF; /* Bootstrap green */
  }

  .switch input:checked + .slider:before {
    transform: translateX(24px);
  }


.switch-placement{

}
.switch-placement span{
  font-size: 16px;
  font-weight: bold;
}
.display_toggle{
    display: none; 
    margin-top: -15px;
    padding-bottom: 15px;
    transition: 0.5s ease-in;
}
/*homepage content*/

.all-cards a{
    text-decoration: none;
}
.single-card{
    width: 100%;
    height: 125px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-card{

}
.content-card h4{
    font-size: 35px;
    color: #fff;
    font-weight: bold;
}
.content-card span{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.icon-card label{
    font-size: 100px;
    color: #fff;
    opacity: 0.2;
    font-weight: bold;
    font-family: arial;
}
.icon-card i{
    font-size: 100px;
    color: #fff;
    opacity: 0.2;
    font-weight: bold;
    /*font-family: arial;*/
}